<div class="container">
<h1>Make A Post!</h1>
<form action="/create" method="POST">
Title: <input type="text" name="blog[title]"><br>
Content: <textarea rows="4" cols="50" name="blog[content]"></textarea><br>
Tags: <input type="text" name="tag"><br>
<input type="submit" value="Create A Post!">
</form>
</div>

