<h1>Make A Post!</h1>
<form action="/create" method="POST">
Title: <input type="text" name="blog[title]"><br>
Content: <input type="text" name="blog[content]"><br>
<input type="submit" value="Create A Post!">
</form>
