<div class="container">
  <h1>Where's the Shovel?</h1>
  <p>Hello, world! Here we <b>blog</b> about where the shovel is.</p>
  <p>Do you know where the shovel is?</p>
  <div class="menu">
    <a href="/posts">Show all posts</a><br>
    <!-- <a href="/posts/:title">Show the [specific] post</a><br>  won't work, multiple posts can share the same title. --><!-- Yes, it will, if we make it show all the posts with that same name à la a search function -->
    <a href="/posts/create">Create a new post</a><br>
    <a href="/tags">Show all the tags</a><br> 
  </div>
</div>

